{deps, [
    {lfe, "2.2.0"},
    {graffeo, {git, "https://github.com/erlsci/graffeo.git", {branch, "main"}}},
    {erlmcp, {git, "https://github.com/erlsci/erlmcp.git", {branch, "release/0.6.x"}}}
]}.

{plugins, [rebar3_lfe]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{profiles, [
    {test, [
        {deps, [{ltest, "0.13.11"}]},
        {eunit_opts, [verbose]},
        {eunit_tests, [
            {module, 'graffeo-mcp-parser-tests'},
            {module, 'graffeo-mcp-ingest-tests'},
            {module, 'graffeo-mcp-graph-tests'}
        ]}
    ]}
]}.
